.add-monster {
  margin: 0;
  padding: 0;
  height: fit-content;
  grid-row: 1;
  display: inline-block;
}

form {
  display: grid;
  grid-template-rows: 2rem auto;

  /* justify-content: start; */

  #monster-submit {
    order: 2;
    margin-left: 8rem;
    border: 1px gray solid;
    background-image: linear-gradient(
      to bottom right,
      rgb(43, 153, 248),
      rgb(87, 202, 247)
    );
  }
  #monster-submit:hover {
    background-image: linear-gradient(
      to bottom right,
      rgb(82, 254, 177),
      rgb(161, 255, 225)
    );
    cursor: pointer;
  }
}
span {
  display: grid;
  grid-template-rows: 2rem auto;
  grid-template-columns: 8rem auto;
  margin: 0;
}

span > span {
  display: grid;
  grid-template-columns: 2rem 4rem 1fr;
  grid-template-rows: 2rem auto;
  margin: 0;
}
.filtered-search-monster {
  margin-top: 0;
  grid-row: 2;
}
#filtered-search-monster-form-submit {
  margin-left: 8rem;
  background-image: linear-gradient(
    to bottom right,
    rgb(43, 153, 248),
    rgb(87, 202, 247)
  );
  border: 1px gray solid;
}
#filtered-search-monster-form-submit:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to bottom right,
    rgb(82, 254, 177),
    rgb(161, 255, 225)
  );
}

.hamburger {
  grid-row: 2;
  height: 2rem;
  width: 2rem;
  margin-top: auto;
  background-image: linear-gradient(
    to bottom right,
    rgb(43, 153, 248),
    rgb(87, 202, 247)
  );
  border-radius: 50%;
  padding: 5px;
}
.hamburger:hover {
  background-image: linear-gradient(
    to bottom right,
    rgb(128, 135, 141),
    rgb(218, 233, 238)
  );
}
.exit-form {
  margin-top: 5rem;
  height: 2rem;
  width: 2rem;
  margin-top: auto;
  background-image: linear-gradient(
    to bottom right,
    rgb(217, 29, 29),
    rgb(248, 116, 123)
  );
  border-radius: 50%;
  padding: 5px;
}
.exit-form:hover {
  background-image: linear-gradient(
    to bottom right,
    rgb(238, 21, 21),
    rgb(220, 15, 15)
  );
}
